.loginBox{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border:1px solid rgb(160, 158, 158);
    border-radius: 10px;
}
.loginLabel{
    font-weight: bold;
    font-size: 18px;
}
.inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.loginBtn{
    width:100px;
}